server:
  port: 9000
spring:
  application:
    name: gateway-service
  cloud:
    gateway:
      server:
        webmvc:
          routes:
          - id: user-service
            uri: http://localhost:8080
            predicates:
              - Path=/users/**
          - id: notification-service
            uri: http://localhost:8081
            predicates:
              - Path=/notification/**