server:
  port: 9000
spring:
  application:
    name: gateway-service
  cloud:
    gateway:
      server:
        webmvc:
          discovery:
            locator:
              enabled: true
          routes:
            - id: user-service
              uri: lb://user-service
              predicates:
                - Path=/users/**
            - id: notification-service
              uri: lb://notification-service
              predicates:
                - Path=/notification/**
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    fetch-registry: true
    register-with-eureka: true